body {
    background-color: #D2ECE7;
    color: #535A5B;
    font-family: Verdana, Arial, sans-serif;
}

a {
  background-color: #535A5B;
  color: white;
}

a:hover {
  color: #535A5B;
  font-weight: bold;
}

.tab-pane {
  background-color: white;
}

.redtext {
  color: red;
}

hr {
  color: #535A5B;
}

#description {
  margin: 20px;
}

h1 {
  color: white;
  background-color: #535A5B;
  padding: 10px
}
